<% content_for :title do %>
  MINE
<% end %>

<% content_for :css do %>
    /index.css
<% end %>

  <h1 class="button_wrap">
    <!--<p>ボタンをクリックしてください。</p>-->
    <p>Please click this button.</p>
    <a class="button" href="/login">MINE</a>
  </h1>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(".button").hover(
        function() {
        $(this).parent().find("p").text("Welcome to MINE!")
    },
        function() {
        $(this).parent().find("p").text("Please click this button.")
    });
</script>