<% content_for :title do %>
  MINE
<% end %>

<% content_for :css do %>
    /index.css
<% end %>

  <h1 class="button_wrap">
    <p>ボタンをクリックしてください。</p>
    <div>
    <a class="button" href="/login">MINE</a>
    </div>
  </h1>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(".button").hover(
        function() {
        $(this).parent().find("p").text("MINEへようこそ！")
    },
        function() {
        $(this).parent().find("p").text("ボタンをクリックしてください。")
    });
</script>