<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title><%= yield_content :title %></title>
</head>
<body>
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>

  <%= yield %>
</body>
</html>