<% content_for :title do %>
    MINE|Login
<% end %>

<% content_for :css do %>
    /login.css
<% end %>

<div class="form_conf">
  <h3>MINE is open sourse SMS application made by Masa.</h3>
  <form action="/login" method="post">
    <p>　NAME　　: <input type="text" name="name" size="20" maxlength="10"></p>
    <p>PASSWORD: <input type="password" name="password" size="20" maxlength="10"></p>
    <input class="button" type="submit" style="font-size:20px;font-family:arial" value="Login" >
    <a href="/signup"><input class="button" type="button" style="font-size:20px;font-family:arial;" value="Signup"></a>
  </form>
</div>