  <% content_for :title do %>
    MINE|新規登録
  <% end %>

  <p>IDとPWを入力する必要があります。</p>
　<form action="register" method="post">
  <p>ID : <input type="text" name="id" size="20" maxlength="10"></p>
  <p>PW : <input type="text" name="password" size="20" maxlength="10"></p>
  <button type="submit" class="btn">登録</button>
  </form>