<% content_for :title do %>
    <%= @current_user.name %>|マイページ
<% end %>

<% content_for :css do %>
    /mypage.css
<% end %>

<h1><%= @current_user.name %>さんのプロフィール</h1>
<p><small>※写真は縦横50pxにリサイズされて表示されます。</small></p>

<p>現在のプロフィール写真</p>
<img id="me" width="100px" height="100px" src="<%= @photo.file %>">
<%= @photo.file %>

<form method="post" action="/newphoto" enctype="multipart/form-data">
  <input type="file" name="file" size="20" style="font-size:15px;">
  <p>
    <input type="submit" class="button" style="font-size:20px;font-family:arial;"　value="アップロード">
    <a href="/"><input class="button" type="button" style="font-size:20px;font-family:arial;" value="戻る"></a>
  </p>
</form>