<% content_for :title do %>
    Signup
<% end %>

<% content_for :css do %>
    /signup.css
<% end %>

<div class="form_conf">
  <h3>Please signup by filling in your name and password(only small character and number are valid).</h3>
  <form action="/register" method="post">
    <p>　NAME　　: <input type="text" name="name" size="20" maxlength="10"></p>
    <p>PASSWORD: <input type="password" name="password" size="20" maxlength="10"></p>
    <input class="button" type="submit" style="font-size:20px;font-family:arial" value="Signup">
    <a href="/"><input class="button" type="button" style="font-size:20px;font-family:arial;" value="Return"></a>
  </form>
</div>