body {
    background-color: #f0f8ff;
    text-align: center;
}

.button {
    position: relative;
    z-index: 2;
    background-color: #333;
    border: 2px solid #333;
    color: #fff;
    line-height: 30px;
    width: 100px;
    height: 54px;
    margin-top: 10px;
}
.button:hover {
    background-color: #fff;
    border-color: #59b1eb;
    color: #59b1eb;
}
.button::before,
.button::after {
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #333;
}
.button::before {
    right: 0;
}
.button::after {
    left: 0;
}
.button:hover::before,
.button:hover::after {
    width: 0;
    background-color: #59b1eb;
}

h1 {
    font-weight: bold;
    font-family: arial;
    color: #00bfff;
    text-align: center;
}

p {
    font-weight: bold;
    font-family: arial;
    color: black;
}

#tab1 a {
    display: inline;
    font-weight: bold;
    font-size: 30px;
    font-family: arial;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#tab2 p {
    display: inline;
    font-size: 30px;
    font-family: arial;
    color: black;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#tab2 a {
    display: inline;
    font-weight: bold;
    font-size: 30px;
    font-family: arial;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}


#tab3 p {
    display: inline;
    font-size: 30px;
    font-family: arial;
    color: black;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#tab4 p {
    display: inline;
    font-size: 30px;
    font-family: arial;
    color: black;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

h3 {
    font-weight: bold;
    font-family: arial;
    color: blue;
}

#instruction {
    font-weight: bold;
    font-family: arial;
    color: #00bfff;
    text-align: center;
}

#notice {
    text-align: center;
    font-weight: bold;
    font-family: arial;
    color: #00bfff;
}

/* タブについての基本的なCSS */

/* ▼(A)表示領域全体 */
div.tabbox {
    margin: 0 auto;
    padding: 0px;
    width: 500px;
    text-align: left;
}

/* ▼(B)タブ部分 */
p.tabs { margin: 0px; padding: 0px; }
p.tabs a {
    /* ▼(B-2)リンクをタブのように見せる */
    display: block; width: 115px; float: left;
    margin: 0px 1px 0px 0px; padding: 3px;
    text-align: center;
    font-size: 15px;
    border-radius: 12px 12px 0px 0px; /* 角を丸くする */
    text-decoration: none;
}
/* ▼(B-3)各タブの配色 */
/*
p.tabs a.tab1 { background-color: blue;  color: white; }
p.tabs a.tab2 { background-color: #aaaa00; color:white;}
p.tabs a.tab3 { background-color: red;   color: white; }
p.tabs a.tab4 { background-color: #008000;   color: white; }
p.tabs a.tab1:hover { color: skyblue; }
p.tabs a.tab2:hover { color: yellow; }
p.tabs a.tab3:hover { color: #ffbc7a; }
p.tabs a.tab4:hover { color: #dcdcdc; }
*/
p.tabs a.tab1 { background-color: #00008b;  color: white; }
p.tabs a.tab2 { background-color: blue;  color: white; }
p.tabs a.tab3 { background-color: #00bfff;  color: white; }
p.tabs a.tab4 { background-color: #87ceeb;  color: white; }

/* ▼(C)タブ中身のボックス */
div.tab {
    /* ▼(C-2)ボックス共通の装飾 */
    width: 477px; height: 500px; overflow: auto; clear: left;
}
/* ▼(C-3)各ボックスの配色 */
/*
div#tab1 { border: solid blue; background-color: #ccffff; border-width: 7px 5px 5px 5px;}
div#tab2 { border: solid #aaaa00; background-color: #ffffcc; border-width: 7px 5px 5px 5px;}
div#tab3 { border: solid red; background-color: #ffcccc; border-width: 7px 5px 5px 5px;}
div#tab4 { border: solid #008000; background-color: #90ee90; border-width: 7px 5px 5px 5px;}
div.tab p { margin: 0.5em; }
*/
div#tab1 { border: solid #00008b; background-color: #ccffff; border-width: 7px 5px 5px 5px;}
div#tab2 { border: solid blue; background-color: #ccffff; border-width: 7px 5px 5px 5px;}
div#tab3 { border: solid #00bfff; background-color: #ccffff; border-width: 7px 5px 5px 5px;}
div#tab4 { border: solid #87ceeb; background-color: #ccffff; border-width: 7px 5px 5px 5px;}
div.tab p { margin: 0.5em; }

#tab1 a, #tab2 a {
    text-decoration: none;
    color: black;
}

#tab1 a:hover, #tab2 a:hover {
    color: blue;
}

#tab1 a:active, #tab2 a:active {
    color: red;
}

#tab1 p {
    display: inline;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: -10px;
}

#tab2 p {
    display: inline;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: -10px;
}

#tab2 #me {
    display: inline;
    margin-top: 10px;
    margin-left: -5px;
    margin-bottom: -10px;
}

#tab3 p {
    display: inline;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: -10px;
}

#tab4 p {
    display: inline;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: -10px;
}
