body {
    background-color: #f0f8ff;
    text-align: center;
}

.button {
    position: relative;
    z-index: 2;
    background-color: #333;
    border: 2px solid #333;
    color: #fff;
    line-height: 50px;
    width: 100px;
    height: 54px;
}
.button:hover {
    background-color: #fff;
    border-color: #59b1eb;
    color: #59b1eb;
}
.button::before,
.button::after {
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #333;
}
.button::before {
    right: 0;
}
.button::after {
    left: 0;
}
.button:hover::before,
.button:hover::after {
    width: 0;
    background-color: #59b1eb;
}

h2, p {
    font-weight: bold;
    font-family: arial;
    color: #00bfff;
    text-align: center;
}

h1 {
    font-weight: bold;
    font-family: arial;
    color: #0000ff;
}

#notice {
    text-align: center;
    font-weight: bold;
    font-family: arial;
    color: #00bfff;
}

form {
    text-align: center;
}

.you p {
    font-weight: bold;
    font-family: arial;
    color: #00bfff;
    text-align: left;
}

.you  {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 70px;
    font-weight: bold;
    font-family: arial;
    color: #00bfff;
    text-align: left;
}

.me {
    text-align: right;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 70px;
    font-weight: bold;
    font-family: arial;
    color: #00bfff;
}


.my_content {
    display: inline-block;
    text-align: left;
}

.my_time {
    text-align: right
}

.your_content {
    display: inline-block;
    text-align: left;
}

.your_time {
    text-align: left;
}


div#wrapper {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    text-align: left;
    border: inset 5px #00bfff;
}
